html {
    font-family: 'Open Sans', verdana;
    margin: 7%;
    font-size: 100%;
    
}

table, th, col, tr{
  border: 10px solid black;
  
  border-width: 0.01px;
  border-collapse: collapse;
  margin: 10px;
  
}
@media (max-width: 600px) {
  div {
    
    width: 100%;
  }
  body{
    background-color: lightblue;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: pink;

  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color:lightgreen;

  }
  div{
    max-width: 40%;
    display:flex;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color:green;
    max-width: 100%;

  }
}

@media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: pink;

  }
}

.table{
	 empty-cells: show;
    
     
}

.container{
	display: flex;
}

th{
	text-align: center;
}

td{
	margin: 5px;
}

table{
	border-collapse: collapse;
}

li{
	margin-left: 40px;
}

h1,h3,p {
	margin: 30px;
}

h3{
	font-size: 25px;
}

table{
	width: 100%;
}
.button{
	text-align: center;
    color: #333;
	background-color: lightblue;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    border: 3px solid #6AD;
    border-radius: 8px;
    transition-duration: 0.16s;
    
}

p a:hover{
  color: red;
}


.container{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.button:hover{
	color: white;
	background-color: #336;
   	border-color: white;
    
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
p > a:visited{
  color: blue;
}

nav, a:not(nav){
	  text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 0;
    position: relative;
    color: blue;
    }

nav a:hover{
    color:red;        
}
